option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3000

commands:
  01_node_setup:
    command: |
      echo "installing node dependencies and ensuring correct permissions"
      npm install
      chmod +x server.cjs

container_commands:
  01_start_node:
    command: "node server.cjs"
    leader_only: true